.button_location{
 width: 40px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center; 
 border-radius: 50%;
 background-color:  rgba(255, 255, 255, 0.2);
 
}


  .img{
 
    width: 22px;
    height: 22px;
  }