.container_layout{
    border: 1px dotted pink;
    width: 202px;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.number_text{
    font-family: 'Raleway', sans-serif;
    color:rgba(231, 231, 235, 1);
    font-weight: 500;
    font-size: 144px;
}
.text_layout{
    font-family: 'Raleway', sans-serif;
    color:rgba(160, 159, 177, 1);
    font-weight: 100;
    font-size: 48px;
}