.cardDay_container{
    position: relative;
    /* border: 1px dotted red; */
    width: 120px;
    height: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 20px 18px 20px;
    position: relative;
    gap: 10px;
    color: #E7E7EB;
    background-color: #1E213A;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
    .day{
        display: flex;
        justify-content: center;
        /* border: 1px dotted red; */
        width: 76px;
        height: 19px;
    }
    .weather_image{
        /* border: 1px dotted yellow; */
        width: 56.44px;
        height: 62px;
    }
    .temp {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 19px;
        bottom: 18px;
    }
    .max{
       /*  border: 1px dotted purple; */
       left: 18px;
        
    }
    .min{
        /* border: 1px dotted pink; */
        right: 18px;
        color: #A09FB1;
    }