body{
    background-color: #100E1D;
    color: aliceblue;
}

.main-container {
  display: flex;
  flex-direction: row;

}

.rigth-container{
  border: 1px dotted red;
  width: 100%;
  max-width: 981px;
  height: 100vh;

}
